*.pyc
*.idea
*.db
*.db-journal
*.sass-cache
config/config.ini
PokemonGoMap/config/credentials.json
PokemonGoMap/config/credentialsix.json
PokemonGoMap/config/credentialsgc.json
node_modules/
venv/
env
stepFiles/*.txt
